<div id="content">


  <div class="row">
    <sa-big-breadcrumbs [items]="['Other Pages', 'Profile']" icon="group" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>
  <!-- end row -->
  <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="well well-light well-sm no-margin no-padding">
              <div class="row">
                <div class="col-sm-12">
                  <div id="myCarousel" class="carousel fade profile-carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                      <!-- Slide 1 -->
                      <div class="item active">
                        <img src="assets/img/demo/s1.jpg" alt="demo user">
                      </div>
                      <!-- Slide 2 -->
                      <div class="item">
                        <img src="assets/img/demo/s2.jpg" alt="demo user">
                      </div>
                      <!-- Slide 3 -->
                      <div class="item">
                        <img src="assets/img/demo/m3.jpg" alt="demo user">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3 profile-pic">
                      <img src="assets/img/avatars/sunny-big.png" alt="demo user">
                    </div>
                    <div class="col-sm-6">
                      <h1><span class="semi-bold" style="text-transform: capitalize"></span>
                        <br>
                        <small> <br> </small>
                      </h1>
                      <ul class="list-unstyled">
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-phone"></i>&#xA0;&#xA0;<span class="txt-color-darken"></span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-envelope"></i>&#xA0;&#xA0;<span class="txt-color-darken"></span>
                          </p>
                        </li>
                      </ul>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
