<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Content','Landingpage Content']" icon="table" class="col-xs-12 col-sm-7 col-lg-7"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>

  <sa-widgets-grid>

    <div class="row">
      <article class="col-sm-12">

        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i></span>

            <h2>Landingpage Content</h2>
          </header>

          <div>
            <div class="widget-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <sa-datatable
                      paginationLength="true" tableClass="table table-striped table-bordered table-hover"
                      width="100%">
                      <thead>
                      <tr>
                        <th>No</th>
                        <th>Type</th>
                        <th>Content</th>
                        <th>Edit | Del</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </sa-datatable>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>