<style>
    .text-header {
      vertical-align: middle;
      text-align: center;
    }
    </style>
    <div id="content">
    
      <div class="row">
        <sa-big-breadcrumbs [items]="['Hardware', 'Panel Locations']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <sa-stats></sa-stats>
      </div>
      <!-- widget grid -->
      <sa-widgets-grid>
    
        <div class="row">
          <article class="col-sm-12">
    
            <div sa-widget [editbutton]="false" color="blueDark">
              <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
    
                <h2>Panel Locations</h2>
              </header>
              <div>
                <div class="widget-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="col-md-4">
                            <label class="control-label" style="text-align: right; margin-top: 8px;"><b>Client Company</b></label>
                            <select class="form-control">
                              <option value="0">-- All Data Client--</option>
                              <option *ngFor="let item of result" [ngValue]="item.name">{{ item.name }}</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label class="control-label" style="text-align: right; margin-top: 8px;"><b>Zona Location</b></label>
                            <select class="form-control">
                              <option value="0">-- Select Zona Location--</option>
                              <option *ngFor="let item_zona of result_zona" [ngValue]="item_zona.name">{{ item_zona.name }}</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label class="control-label" style="text-align: right; margin-top: 8px;"><b>Panel Location</b></label>
                            <select class="form-control">
                              <option value="0">-- Select Panel Name--</option>
                              <option *ngFor="let panels of panel_array" [ngValue]="panels.panel_name">{{ panels.panel_name }}</option>
                            </select>
                          </div>
                          <div class="col-md-2">
                            <button class="btn btn-primary btn-block" style="margin-top: 30px;"><i class="fa fa-search"></i> Search</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover" >
                      <thead>
                      <tr>
                        <th rowspan=2 class="text-header">No.</th>
                        <th rowspan=2 class="text-header">Company</th>
                        <th colspan=2 class="text-header">Zona Location</th>
                        <th rowspan=2 class="text-header">Panel Name</th>
                        <th rowspan=2 class="text-header">Device ID</th>
                        <th rowspan=2 class="text-header">Capacity</th>
                        <th rowspan=2 class="text-header">Installation Date</th>
                        <th rowspan=2 class="text-header">Actions</th>
                      </tr>
                      <tr>
                        <th class="text-header">Zona Name</th>
                        <th class="text-header">Edit | Del</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let item of result;let i= index; let item_zona of result_zona">
                      <tr>
                        <td [attr.rowspan]="item.name.length" style="text-align: center">{{ i+1}}.</td>
                        <td [attr.rowspan]="item.name.length">{{ item.name }}</td>
                        <td [attr.rowspan]="item_zona.name.length" >{{ item_zona.name }}</td>
                        <td [attr.rowspan]="item_zona.name.length"style="text-align: center; border-right: 1px solid #ccc">
                          <button class="btn btn-xs btn-success"><i class="fa fa-edit"></i></button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                      <tr *ngFor="let value of item.values" style="border-bottom: 1px solid #ccc">
                        <td>
                          {{ value.panel_name }}<br>
                          <small class="text-primary" style="font-size: 10px;"><b>SN: {{ value.serial_number }}</b></small><br>
                          <small class="text-primary" style="font-size: 10px;">{{ value.panel_desc }}</small>
                        </td>
                        <td style="text-align: center">{{ value.capacity }} kW</td>
                        <td style="text-align: center">
                          <div *ngFor="let valueDevice of value.devices">
                              <label [ngClass]="valueDevice.in_out === 'out' ? 'fa fa-arrow-left text-danger': 'fa fa-arrow-right text-success'"></label>
                            <span>&nbsp;{{valueDevice.device_identity_id}}</span>
                          </div>
                        </td>
                        <td style="text-align: center">{{ value.installed_date | date: 'dd MMMM yyyy' }}</td>
                        <td style="text-align: center">
                          <button class="btn btn-xs btn-warning"><i class="fa fa-list"></i></button>
                          <button class="btn btn-xs btn-success"><i class="fa fa-edit"></i></button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                      <!-- <tr >
                        <td>{{ value | json}}</td>
                      </tr> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </sa-widgets-grid>
    </div>
    